
body {
    border: 2px solid black;
    font-family: Ubuntu;
    background-color: white;
}

h1 {
    text-align: center;
}

p {
    font-size: 1em;
}

ol {
    color: red;
}

ul {
    color: green;
}

img {
    width:100px;
}

table, td {
    border: 1px black solid;
    width: 500px;
    text-align: center;
}

div {
    background-color: #800000;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    height: 50px;
    width: 145px;
    margin: auto;
}

div a {
    text-decoration: none;
    color: black;
    font-size: 2.2em;
}